body {
  font-family: serif; 
  color: #000000;
  margin: 0px;
  letter-spacing: 0px;
  background-color: #ffffff;
  width: 100000000px;
  font-size: 14px;
  /*background-size: cover;*/
}
* {
/*  margin: 5px;*/
  margin-right: 5px;
  margin-left: 5px;
  padding: 0px;
}

@font-face {
  font-family: IBMPlexMono;
  src: url(fonts/IBMPlexMono-Text.otf);
}

@font-face {
  font-family: IBMPlexMonoItalic;
  src: url(fonts/IBMPlexMono-TextItalic.otf);
}

#container1, #container2, #container3, #container4, #container5, #container6, #container7, #container8, #container9, #container10, #container11, #container12, #container13, #container14, #container15, #container16, #container17, #container18, #container19, #container20, #container21, #container22, #container23, #container24, #container25, #container26, #container27, #container28, #container29, #container30, #container31, #container32, #container33, #container34, #container35, #container36, #container37, #container38, #container39, #container40, #container41, #container42, #container43, #container44, #container45, #container46, #container47, #container48, #container49, #container50 {
  height: 1080px;
  min-width: 60px;
}

.bar {

  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar.pressed {
  /*background-color: yellow;*/
  /*background-image: linear-gradient(#C0C0C0, #000000, #000000);*/
}

.bar:hover{
transform: scale(1.5,1.0);
}

#container1 {
  float:left;
}

.content {
  float:right;
  width: 500px;
  display: none;
  margin: 20px;
  font-family: IBMPlexMono;
}

.title {
  font-family: IBMPlexMonoItalic;
  font-size: 20px;
}

#container2 {
  float: left;
}

.bar2 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar2:hover{
transform: scale(1.5,1.0);
}


#container2 {
  float:left;
}

.content2 {
  float:right;
  width: 500px;
  margin: 20px;
  display: none;
  font-family: IBMPlexMono;
}

.title2 {
  font-family: IBMPlexMonoItalic;
  font-size: 20px;
}


.bar3 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar3:hover{
transform: scale(1.5,1.0);
}

#container3 {
  float:left;
}

.content3 {
  float:right;
  width: 500px;
  display: none;
  margin: 20px;
  font-family: IBMPlexMono;
}

.bar4 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar4:hover{
transform: scale(1.5,1.0);
}

#container4 {
  float:left;
}

.content4 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.quote4 {
  font-family: IBMPlexMonoItalic;
}

.bar5 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar5:hover{
transform: scale(1.5,1.0);
}

#container5 {
  float:left;
}

.content5 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;
  margin: 20px;
}

.spectrum {
  padding-top: 50px;
  width: 100%;
}

.symbosis {
  /*padding-top: 100px;*/
  width: 100%; 
}

.bar6 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;

/*  border-color: #C0C0C0;
  border-width: 5px;  
  border-style: ridge;*/
/*  box-shadow: 10px 10px 10px #888888;*/
}

.bar6:hover{
transform: scale(1.5,1.0);
}

#container6 {
  float:left;
}

.content6 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.title6{
  font-family: IBMPlexMonoItalic;
  font-size: 20px;

}

.bar7 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar7:hover{
transform: scale(1.5,1.0);
}

#container7 {
  float:left;
}

.content7 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.radioear {
  padding-top: 20px;
  width: 100%;
}

.caption7 {
  padding-top: 20px;
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;
}

.bar8 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar8:hover{
transform: scale(1.5,1.0);
}

#container8 {
  float:left;
}

.content8 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;  
  margin: 20px;
}


.bar9 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar9:hover{
transform: scale(1.5,1.0);
}

#container9 {
  float:left;
}

.content9 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.noise {
  padding-top: 20px;
  width: 100%;
}

.caption9{
/*  padding-top: 10px;*/
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;
}

.bar10 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar10:hover{
transform: scale(1.5,1.0);
}

#container10 {
  float:left;
}

.content10 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.goonhilly {
  padding-top: 20px;
  width: 100%;
}

.goonhilly2 {
  padding-top: 10px;
  width: 100%;
}

.caption10{
/*  padding-top: 10px;*/
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;
}

.bar11 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar11:hover{
transform: scale(1.5,1.0);
}

#container11 {
  float:left;
}

.content11 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.title11{
  font-family: IBMPlexMonoItalic;
  font-size: 20px;
}

.quote11 {
  font-family: IBMPlexMonoItalic;

}

.bar12 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar12:hover{
transform: scale(1.5,1.0);
}

#container12 {
  float:left;
}

.content12 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.szczyrk {
  width: 55%;
}

.schoffer {
  padding-top: 10px;
  padding-left: 210px;
  width: 55%;
}

.caption12{
/*  padding-top: 10px;*/
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;
}

.bar13 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar13:hover{
transform: scale(1.5,1.0);
}

#container13 {
  float:left;
}

.content13 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.bar14 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar14:hover{
transform: scale(1.5,1.0);
}

#container14 {
  float:left;
}

.content14 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.a6 {
  padding-top: 10px;
  width: 100%;
}

.caption14{
/*  padding-top: 10px;*/
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;
}

.bar15 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar15:hover{
transform: scale(1.5,1.0);
}

#container15 {
  float:left;
}

.content15 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.bledow {
  padding-top: 10px;
  width: 100%;
}

.barina {
  padding-top: 10px;
  width: 100%;
}

#myVideo{
  width: 98%;
}

.caption15{
/*  padding-top: 10px;*/
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;
}


.bar16 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar16:hover{
transform: scale(1.5,1.0);
}

#container16 {
  float:left;
}

.content16 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}


.bar17 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar17:hover{
transform: scale(1.5,1.0);
}

#container17 {
  float:left;
}

.content17 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.caption17{
/*  padding-top: 10px;*/
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;
}

.paglen {
  padding-top: 10px;
  width: 60%;
}

.ley {
  padding-top: 10px;
  width: 60%;
}

.key {
  padding-top: 10px;
  width: 60%;
}

.bar18 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar18:hover{
transform: scale(1.5,1.0);
}

#container18 {
  float:left;
}

.content18 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.bar19 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar19:hover{
transform: scale(1.5,1.0);
}

#container19 {
  float:left;
}

.content19 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.caption19{
/*  padding-top: 20px;*/
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;

}

.dimension {
  padding-top: 10px;
  width: 40%;
}

.kinetic {
  padding-top: 10px;
  width: 40%;
}

.opus9 {
  padding-top: 10px;
  width: 40%;
}

.gabo {
  padding-top: 10px;
  width: 40%;
}

.bar20 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar20:hover{
transform: scale(1.5,1.0);
}

#container20 {
  float:left;
}

.content20 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.bar21 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar21:hover{
transform: scale(1.5,1.0);
}

#container21 {
  float:left;
}

.content21 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.caption21{
/*  padding-top: 20px;*/
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;

}

.tensegrity {
  margin-left: 50px;
  padding-top: 10px;
  width: 80%;
}

.superbot{
  margin-left: 50px;
  padding-top: 10px;
  width: 80%;

}

.bar22 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}



.bar22:hover{
transform: scale(1.5,1.0);
}

#container22 {
  float:left;
}

.content22 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.caption22{
/*  padding-top: 20px;*/
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;

}

.tree {
  padding-top: 10px;
  width: 90%;
}

.bar23 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar23:hover{
transform: scale(1.5,1.0);
}

#container23 {
  float:left;
}

.content23 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.caption23{
/*  padding-top: 20px;*/
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;

}

.chick{
/*  margin-left: 50px;
*/padding-top: 10px;
  width: 100%;

}

.ouro{
/*  margin-left: 50px;*/
  padding-top: 10px;
  width: 100%;

}

.bar24 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar24:hover{
transform: scale(1.5,1.0);
}

#container24 {
  float:left;
}

.content24 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.title24 {
  font-family: IBMPlexMonoItalic;
  font-size: 20px;
}

.bar25 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar25:hover{
transform: scale(1.5,1.0);
}

#container25 {
  float:left;
}

.content25 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.caption25{
/*  padding-top: 20px;*/
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;

}

.radio{
  margin-left: 50px;
  padding-top: 10px;
  width: 80%;

}

.pask{
  margin-left: 50px;
  padding-top: 10px;
  width: 80%;

}

.bar26 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar26:hover{
transform: scale(1.5,1.0);
}

#container26 {
  float:left;
}

.content26 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.bar27 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar27:hover{
transform: scale(1.5,1.0);
}

#container27 {
  float:left;
}

.content27 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.caption27{
/*  padding-top: 20px;*/
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;

}

.cage {
  padding-top: 10px;
  width: 100%;
}

.faraday {
  padding-top: 10px;
  width: 100%;
}

.bar28 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar28:hover{
transform: scale(1.5,1.0);
}

#container28 {
  float:left;
}

.content28 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}


.bar29 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar29:hover{
transform: scale(1.5,1.0);
}

#container29 {
  float:left;
}

.content29 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.caption29{
/*  padding-top: 20px;*/
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;

}

.snow {
  padding-top: 10px;
  width: 45%;
}

.vario {
  padding-top: 10px;
  width: 45%;
}

.bar30 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar30:hover{
transform: scale(1.5,1.0);
}

#container30 {
  float:left;
}

.content30 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.caption30{
/*  padding-top: 20px;*/
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;

}

.comet {
  padding-top: 10px;
  width: 100%;
}

.mirage {
  padding-top: 10px;
  width: 100%;
}

.bar31 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar31:hover{
transform: scale(1.5,1.0);
}

#container31 {
  float:left;
}

.content31 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.bar32 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar32:hover{
transform: scale(1.5,1.0);
}

#container32 {
  float:left;
}

.content32 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.caption32{
/*  padding-top: 20px;*/
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;

}

.df {
  padding-top: 10px;
  width: 50%;
}

.df2 {
  padding-top: 10px;
  width: 50%;
}

.bar33 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar33:hover{
transform: scale(1.5,1.0);
}

#container33 {
  float:left;
}

.content33 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.caption33{
/*  padding-top: 20px;*/
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;

}

.bar34 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar34:hover{
transform: scale(1.5,1.0);
}

#container34 {
  float:left;
}

.content34 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.feet {
  padding-top: 10px;
  width: 100%;
}

.head {
  padding-top: 10px;
  width: 100%;
}

.caption34{
/*  padding-top: 20px;*/
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;

}

.bar35 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar35:hover{
transform: scale(1.5,1.0);
}

#container35 {
  float:left;
}

.content35 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.man {
  margin-left: 65px;
  padding-top: 10px;
  width: 65%;
}

.caption35{
/*  padding-top: 20px;*/
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;

}


.bar36 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar36:hover{
transform: scale(1.5,1.0);
}

#container36 {
  float:left;
}

.content36 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.form {
  margin-left: 50px;
  padding-top: 10px;
  width: 70%;
}

.manu {
  margin-left: 50px;
  padding-top: 10px;
  width: 70%;
}

.caption36{
/*  padding-top: 20px;*/
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;

}

.bar37 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar37:hover{
transform: scale(1.5,1.0);
}

#container37 {
  float:left;
}

.content37 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.title37 {
  font-family: IBMPlexMonoItalic;
  font-size: 20px;
}

.trig {
  padding-top: 10px;
  width: 100%;
}

.florence {
  padding-top: 10px;
  width: 100%;
}

.caption37{
/*  padding-top: 20px;*/
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;

}

.bar38 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar38:hover{
transform: scale(1.5,1.0);
}

#container38 {
  float:left;
}

.content38 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}


.bar39 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar39:hover{
transform: scale(1.5,1.0);
}

#container39 {
  float:left;
}

.content39 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.ant1 {
  margin-left: 50px;
  padding-top: 10px;
  width: 80%;
}

.caption39{
/*  padding-top: 20px;*/
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;

}

.bar40 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar40:hover{
transform: scale(1.5,1.0);
}

#container40 {
  float:left;
}

.content40 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.ant2 {
  margin-left: 50px;
  padding-top: 10px;
  width: 75%;
}

.ant3 {
  margin-left: 50px;
  padding-top: 10px;
  width: 75%;
}

.bar41 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar41:hover{
transform: scale(1.5,1.0);
}

#container41 {
  float:left;
}

.content41 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.semaphore {
  margin-left: 100px;
  padding-top: 10px;
  width: 50%;
}

.nus1 {
  margin-left: 100px;
  padding-top: 10px;
  width: 50%;
}

.nus2 {
  margin-left: 100px;
  padding-top: 10px;
  width: 50%;
}

.nus3 {
  margin-left: 100px;
  padding-top: 10px;
  width: 50%;
}

.caption41{
/*  padding-top: 20px;*/
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;
}

.bar42 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar42:hover{
transform: scale(1.5,1.0);
}

#container42 {
  float:left;
}

.content42 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.tol {
  padding-top: 10px;
  width: 100%;
}

.caption42{
/*  padding-top: 20px;*/
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;
}

.bar43 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar43:hover{
transform: scale(1.5,1.0);
}

#container43 {
  float:left;
}

.content43 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}


.bar44 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar44:hover{
transform: scale(1.5,1.0);
}

#container44 {
  float:left;
}

.content44 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.chimney {
  padding-top: 10px;
  width: 100%;
}

.bell {
  padding-top: 10px;
  width: 100%;
}

.caption44{
/*  padding-top: 20px;*/
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;
}

.bar45 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar45:hover{
transform: scale(1.5,1.0);
}

#container45 {
  float:left;
}

.content45 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.mea {
  margin-left: 25px;
  padding-top: 10px;
  width: 90%;
}

.caption45{
/*  padding-top: 20px;*/
  font-family: IBMPlexMonoItalic;
  font-size: 6pt;
}

.bar46 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar46:hover{
transform: scale(1.5,1.0);
}

#container46 {
  float:left;
}

.content46 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.bar47 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar47:hover{
transform: scale(1.5,1.0);
}

#container47 {
  float:left;
}

.content47 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.bar48 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar48:hover{
transform: scale(1.5,1.0);
}

#container48 {
  float:left;
}

.content48 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.bar49 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar49:hover{
transform: scale(1.5,1.0);
}

#container49 {
  float:left;
}

.content49 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.bar50 {
  width: 30px;
  height:1080px;
  float:left;
  background-color: black;
}

.bar50:hover{
transform: scale(1.5,1.0);
}

#container50 {
  float:left;
}

.content50 {
  float:right;
  width: 500px;
  display: none;
  font-family: IBMPlexMono;
  margin: 20px;
}

.tree2 {
  padding-top: 10px;
  width: 100%;
}



